.about {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  &-text {
    color: $color-gray;
    font-family: $font-main;
  }

  &-statistics {
    &__item {
      margin-bottom: 30px;

      h5 {
        font-size: 18px;
      }
    }
  }

  .progress {
    @include lg-min {
      height: 20px;
    }
    @include lg {
      height: 16px;
    }

    &-bar {
      background-color: $color-accent;
    }
  }
}
