html {
  font-size: $font-size;
  font-family: $font-main;
  color: $color-gray;
  overflow-y: scroll;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-dark;
  font-family: $font-header;
}

p {
  font-family: $font-main;
}

a:hover {
  text-decoration: none;
}

.about,
.features,
.advantages-content,
.blog,
.contacts,
.gallery {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  @include lg-min {
    padding-top: 105px;
    padding-bottom: 90px;
  }
  @include lg-md {
    padding-top: 105px;
    padding-bottom: 75px;
  }
  @include md-sm {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  @include sm {
    padding-top: 90px;
    padding-bottom: 45px;
  }
}

.about-title,
.features-title,
.gallery-title,
.blog-title,
.advantages-title,
.contacts-title {
  text-align: center;

  @include lg-min {
    margin: 0 0 45px 0;
  }
  @include lg-md {
    margin: 0 0 38px 0;
  }
  @include md-sm {
    margin: 0 0 30px 0;
  }
  @include sm {
    margin: 0 0 23px 0;
  }
}

.features-description,
.gallery-description,
.blog-description,
.advantages-description,
.contacts-description {
  text-align: center;
  color: $color-gray;
  font-family: $font-main;

  @include md-min {
    margin-bottom: 45px;
  }
  @include md {
    margin-bottom: 30px;
  }
}

.btn-outline-danger {
  color: $color-accent !important;
  border-color: $color-accent !important;
  &:hover {
    color: #fff;
    background-color: $color-accent !important;
    border-color: $color-accent !important;
  }
}

input::placeholder,
textarea::placeholder,
.btn {
  font-family: $font-main !important;
}
